@use 'sass:math';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'mixins';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
/* Подключение обычного шрифта */
@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Regular'), local('TT-Norms-Pro-Regular'),
    url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
    url('../fonts/TTNormsPro-Regular.woff') format('woff'),
    url('../fonts/TTNormsPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Подключение жирного шрифта */
@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Bold'), local('TT-Norms-Pro-Bold'),
    url('../fonts/TTNormsPro-Bold.woff2') format('woff2'),
    url('../fonts/TTNormsPro-Bold.woff') format('woff'),
    url('../fonts/TTNormsPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// &display=swap - добавить при подключении через плагин

// Подключить, если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Подключение иконковых шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить, если есть файл иконкового шрифта
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// По умолчанию шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: 'TT Norms Pro', sans-serif;
$fontSize: toRem(28); // где 14(px) - размер шрифта по умолчанию с макета
// Основные цвета
$mainColor:  #161616; // Цвет шрифта по умолчанию

// Палитра цветов
// @import "base/colors-palette";

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 350;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1277;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейкпоинтам (контейнер изменяет свою ширину по брейкпоинту)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Сброс ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'null';

// Скролл заблокирован
.lock {
  overflow: hidden;
  touch-action: none;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================
// (i) Стили будут применяться ко всем классам, содержащим *__container
// Например header__container, main__container и т.п.
// Сниппет (HTML): cnt
@if ($responsiveType==1) {
  // Отзывчивый
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      } @else {
        @include adaptiveValue(
          'padding-left',
          math.div($containerPadding, 2),
          15
        );
        @include adaptiveValue(
          'padding-right',
          math.div($containerPadding, 2),
          15
        );
      }
    }
  }
} @else {
  // По брейкпоинтам
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
    @media (max-width: $tablet) {
      max-width: toRem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

._container-lg {
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 toRem($containerPadding);
  @media (max-width: $mobile) {
    padding: 0 toRem(15);
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
// @import "base";
@import 'index';
// Подключение стилей общих элементов проекта

// Подключение стилей отдельных блоков

// Подключение стилей отдельных страниц
@import 'index-main';
//Страница для физ.лиц
@import 'person-n';
@import 'organization';

